<div class="d-flex justify-content-center align-items-center bg-secondary text-white px-4 py-5 text-center size">
  <div class="py-5 bg-dark">
    <h1 class="display-5 fw-bold text-white">Error 404</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4 " >La pagina que usted  busca no existe</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button routerLink="/home" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Ir al Home</button>
      </div>
    </div>
  </div>
</div>